<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang ="es" xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <link rel="icon" type="image/png" th:href="@{/img/logo.png}" />
        <title th:replace="fragment :: titlePage"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
            />
        <link <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <nav th:replace="fragment :: font"></nav>
    </head>
    <body>
        <nav th:replace="fragment :: navbar"></nav>
            <h1 th:text="${title}"></h1>
        <div class="container mt-2 main col-xl-5 ">

            <hr class="mb-3 col-xl-12">

            <form autocomplete="off" class="needs-validation" id="formulario"  method="POST"
                  novalidate th:action="@{/comments/__${action}__}" th:object="${object}">
                 <input th:field="*{id}" type="hidden">
                <div class="col-xl-12">
                    <label class="labelForm"for="comment">Comments</label>
                    <textarea class="form-control" id="comment" rows="3" required th:field="*{description}"></textarea>
                </div>
                  <input required th:field="*{house}"type="hidden">
                <div class="row">
                    <div class="gap-2 d-grid py-5">
                        <button class="btn btn-secondary btn-lg" th:text="${action == 'save'} ? 'Save': 'Save changes'" type="submit"></button>
                    </div>

                </div>
            </form>
        </div>
        <footer th:replace="fragment :: footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script th:replace="fragment :: verification"></script>
    </body>
</html>
